
<mat-sidenav-container class = "tp-container">
    <mat-sidenav mode = "side" opened>
       <section class = "tp-section">
      <mat-list class="nav" *ngFor="let course of courses" >
      
        <a
          mat-list-item
          routerLinkActive="active-link"
          class="hover"
          routerLink="/list"
        >
         {{course.title}}
        </a>
      </mat-list>
       </section>
      
    </mat-sidenav>
    <mat-sidenav-content> <router-outlet></router-outlet></mat-sidenav-content>
 </mat-sidenav-container>
 
 