<form [formGroup]="formData" (ngSubmit)="submit()" (ngReset)="clearForm()">
  <div class="main__item">
    <app-input
      label="Cpf"
      controlName="cpf"
      [formGroup]="formData"
      mask="000.000.000-00"
      class="form-control"
    ></app-input>
  </div>
  <div class="main__item">
    <app-input
      placeholder="Telefone"
      controlName="phone"
      [formGroup]="formData"
      mask="(00) 000-0000"
      class="form-control"
    ></app-input>
  </div>
  <div class="main__item">
    <app-input
      label="Nome"
      controlName="name"
      [formGroup]="formData"
      class="form-control"
    ></app-input>
  </div>
  <button type="submit">Salvar</button>
  <button type="reset">Cancelar</button>
</form>

<!-- MENU: https://www.youtube.com/watch?v=M23bSfR0V84 -->
