@import "./fonts";

@mixin borderRadius {
  border-radius: pxtorem(5px);
}

@mixin boxShadow {
  box-shadow: 0 0 pxtorem(5px) rgba(228, 15, 164, 0.2);
}

/********** GRID **********************/
@mixin flex-grid-container($wrap: null) {
  display: flex;
  flex-wrap: wrap;
  @if $wrap {
    // justify-content: space-between;
    justify-content: center;
  }
}

/********** *** **********************/

@function rem($pixels, $content: 16) {
  @return #{$pixels/$content}rem;
}

$colorMap: (
  primary: (
    text: #fff,
    base: #800080,
    light: #ff6347,
    dark: #121212,
  ),
  secondary: (
    text: #fff,
    base: orange,
    ligth: #dda53d,
    dark: #c2820b,
  ),
);
